body{
    background-color:#FFFEFA ;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.nav-bar{
    background-color:#FAFCFF ;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Source Serif 4', serif;
    width: 20vw;
    height: 2vw;
}
.nav-bar .nav-right{
    display: flex;
    justify-content: space-between;
    line-height: 0;
    margin-right: 50px;
    font-family: "Domine", serif;
    transition: 0.3s linear;
}
.nav-right a:hover{
    transform: scale(1.05);
    background-color: rgb(26, 60, 101);
    color: white;
    padding: 3px;
    border-radius: 5px;

}
.nav-bar a{
    margin-right: 20px;
    text-decoration: none;
    color:#1B2128;

}
.nav-bar .nav-left h1{
    font-weight: 600;
    font-size: 42px;
    margin-left: 60px;

}
.top{
    padding: 10vh 0;
    gap: 5vw    ;
    margin-top: 3vh;
    
}
.heading{
    text-align: center;
    font-size: 8vw;
    line-height: 8vw;
    font-family: "Domine", serif;
    font-weight: 700;
    color: #28261B;


}
.main {
    margin: 0px;
    width: 100vw;

}
.top{
    display: flex;
    width: 100%;
    padding: 100px 0;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.top h1{
    text-align: center;
    font-size: 7vw;
    width: 100%;
    height: auto;
    font-weight: 700;
    letter-spacing: -2%;
    margin: 10px;
    font-family: "Domine", serif;

}
.top img{
    width: 90%;
    height: 70%;
    border-radius: 8px;
    transition: 0.2s linear;
}
.top img:hover{
    transform: scale(1.02);

}
.image-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: auto;
    align-items: center;
    margin-top:-5%;
}
.colage-img{
    width: 25%;
    height: 20%;
    margin: 2%;

    
}
.colage-img img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: 0.3s linear;
}
.colage-img img:hover{
    transform: scale(1.05);
    box-shadow: 0.2px 0.2px 30px rgb(174, 173, 173);
}
.content{
    margin: 0;
    padding: 0;
    line-height: 0.4;
    font-family: "Outfit", sans-serif;


}

.discription{
    color: #28261B;
    font-weight: 400;
    font-size:20px;
    
}
.sub-discription{
    color: #2E2A149E;
    font-weight: 400;
    font-size: 17px;
    margin-top: 0.2rem;
    transition: 0.2s linear;
}
.sub-discription:hover{
    color: rgb(108, 108, 225);
    cursor: pointer;
    transform: scale(1.02);

}





.middle{
    margin-top: 2vh;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.middle p{
    font-family: "Domine", serif;
    text-align: center;
    font-size:3.5vw;
    font-weight: 400;
    color: #28261B;
    width: 50%;
}
.check-last{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.tt{
    width: 100%;
    text-align: center;

}
.check{
    font-family: "Domine", serif;
    font-weight: 700;
    text-align: center;
    margin-top: 12%;
    font-size: 4vw;
    color: #28261B;
    width: 100%;

}
.seemore {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.seemore button{
    text-align: center;
    background-color: #FFD700;
    width: 13%;
    height: 4vw;
    border-radius: 16px;
    border: none;
    color: #050400;
    font-family: "Outfit", sans-serif;
    font-size: 1.6vw;
    transition: 0.2s linear;

}
.seemore button:hover{
    background-color:rgb(242, 195, 40);
    cursor: pointer;
    transform: scale(1.05);


}
.check-point{
    color: #28261B;
    font-family: "Outfit", sans-serif;
    text-align: center;
    margin-top: -2%;
    font-size: 1.8vw;
    font-weight: 400;

}
.img-last img{
    width: 100%;
    border: radius 2vw;
    margin-top: 2vh;
    transition: 0.2s linear;
    margin-top: 4%;

}
.img-last img:hover{
    transform: scale(1.02);
}

.foot{
    font-size: 2.5vw;
    font-weight: 400;
    color: #2E2A149E;
    display:flex;
    justify-content: space-between;
    margin-top: 23%;

}
.right-side{
    display: flex;
    justify-content: right;
    height: 12vh;
    width: 50%;
    margin-left: 50%;


}
.right-side p{
    font-size: 1.4vw;
    font-family:"Outfit", sans-serif;
    font-weight: 400;
    margin-top: 5vh;
    padding: 5vh;
    color: #28261B;

}
.foot .right{
    
    font-family:"Outfit", sans-serif;
    padding: 1vh 1.5vw;
    border:0.15vw solid #6E684933;
    border-radius: 1vw;
    color: #28261B;
    font-size: 1.5vw;
    margin-right: 2%;

}
.foot .right:hover{
    background-color:rgb(48, 61, 82);
    cursor: pointer;
    color: white;


}
.foot .left{
    font-family:"Domine", serif;
    font-size:1.8vw ;
    margin-left: 2%;
}
.image img{
    margin-top: 5vh;
}
footer{
    margin-top: 15vh;
}

@media only screen and (max-width: 1024px) {
    .colage-img {
        width: 300px;
        margin: auto;
    }
    .discription{
        font-size: 18px;

    }
    .sub-discription{
        font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .image-container {
        justify-content: center;

    }
    .colage-img{
        width: 100%;
        max-width: 340px;
        height: auto;

    }
    .top h1{
        font-size: 7vw;
    }
    .nav-bar .nav-right{
        display: none;
    }
    .nav-bar::after{
        content:"☰";
        font-size:24px ;
        color: black;
        cursor: pointer;
        display: inline-block;
        margin-right: 50px;
        background-color: #edead5;
        border-radius: 3px;

    }
    .colage-img{
        margin: 10px;
        width: 50%;

    }
    .discription{
        font-size: 14px;

    }
    .sub-discription{
        font-size: 12px;
    }
    .nav-left{
        font-size: 100px;
        margin-left: 5%;
    }
    .seemore button{
        width: 15%;
        height: 6vw;
        border-radius: 8px;
        font-size: 1.5vw;
        text-align: center;
        border: none;

    }
}


